<h1>{{title}}</h1>

<div *ngIf="loggedIn; else anonymousUser">
  The user is logged
</div>
<ng-template #anonymousUser>
  The user is not logged
</ng-template>

<div defer on idle [ngSwitch]="accessLevel">
  <app-admin-dashboard *ngSwitchCase="'admin'" />
  <app-moderator-dashboard *ngSwitchCase="'moderator'" />
  <app-user-dashboard *ngSwitchDefault />
</div>

<div *ngIf="users.length > 0; else emptyList">
  <li *ngFor="let user of users">
    {{user}}
  </li>
</div>

<ng-template #emptyList>
  Empty list of users
</ng-template>

<h1>Deferables</h1>

@defer (on timer (5s)) {
  <app-lazyloading></app-lazyloading>
} @placeholder {
  <h5>loading...</h5>
} @error {
  <h5>Error Loading</h5>
}

@defer (on hover) {
  <h2>hovering!!!</h2>
} @placeholder {
  <h2>hover here!</h2>
}

@defer (on interaction) {
  <h2>user interacted</h2>
} @placeholder {
  <h2>click here!</h2>
}

<button #trigger>Click to load</button>

@defer (on interaction(trigger)) {
  <h2>User clicked</h2>
}